{% extends "thesite/base.html" %}

{% block content %}

<div class="container-fluid">
	<div id="gallery-view-toggle" class="row text-center">
		<span class="glyphicon glyphicon-th-large active" aria-hidden="true" id="make-grid"></span>
		<span class="glyphicon glyphicon-align-justify" aria-hidden="true" id="make-column"></span>
	</div>

	<div id="photo-gallery" class="row">
		<div id="photo-blanket">
		</div>


		<div class="col-md-4 col-sm-4 col-xs-12">

			{% for pic in col1 %}

			<a rel="prettyPhoto[photographs]" href="/static/img/photos/{{pic.0}}" title="{{pic.1}}"><img class="img-responsive photogallerypic" src="/static/img/photos/{{pic.0}}" alt={{"pic"}}></a>

			{% endfor %}
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">

			{% for pic in col2 %}

			<a rel="prettyPhoto[photographs]" href="/static/img/photos/{{pic.0}}" title="{{pic.1}}"><img class="img-responsive photogallerypic" src="/static/img/photos/{{pic.0}}"></a>

			{% endfor %}
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">

			{% for pic in col3 %}

			<a rel="prettyPhoto[photographs]" href="/static/img/photos/{{pic.0}}" title="{{pic.1}}"><img class="img-responsive photogallerypic" src="/static/img/photos/{{pic.0}}"></a>

			{% endfor %}
		</div>
	</div>
</div>



{% endblock %}