$navfont: 'PT Sans Caption', sans-serif;
$titlefont: 'PT Sans', sans-serif;
$fontcolor: #FF7979;
$shadow: 3px 0px 2px rgba(210, 184, 184, 0.2);

html {
  overflow-y: scroll;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#currentMedia {
	display: none;
}


.header {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
	margin: 20px 0;
	font-size: 42px;
	font-family: $titlefont;
	color: $fontcolor;
	letter-spacing: 3px;
	text-shadow: $shadow;
	text-decoration: none;

	.menu-toggle, .page-title, .not-shown {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.menu-toggle {
		text-align: left;
		flex-grow: 1;
		font-family: 'Lucida Sans Unicode';

		a {
			color: $fontcolor;
			text-decoration: none;
		}

    	a:hover {
	    	text-decoration: none;
	    	color: #187272;
    	}
	}

	.page-title {
		flex-grow: 5;
		flex-shrink: 5;
	}

	.not-shown {
    visibility: hidden;
    flex-grow: 1;
	}
}

#page-content {
	display: none;
}


#background {
	background: url(/static/img/sky.jpg);
	background: linear-gradient(rgba(240, 243, 245, 0.65), rgba(175, 224, 224,0.47)), url(/static/img/sky.jpg);
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -10;
}




.sidebar-nav li {

	a {
	color: $fontcolor;
	text-shadow: $shadow;
	transition: 0.3s;
	}

	a:hover {
		color: #187272;
	}

	.active {
		color: #187272;
	}

}

.prof-pic {
	width: 520px;
	border: 10px solid white;
	border-bottom: 25px solid white;
	margin: auto;
	margin-top: 40px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.3);
	box-shadow: 0 2px 4px rgba(0,0,0,.3);

	p {
		font-family: "Roboto Slab";
		background: white;
		font-weight: 500;
		line-height: 30px;
		padding: 10px 0 0 0;
		margin-bottom: 0;
	}
}

#gallery-view-toggle {
	
	span {
		font-size: 26px;
		cursor: pointer;
		margin: 5px;
		color: #B7CACA;
		transition: 0.5s;
	}

	span:hover {
		color: #187272;
	}

	.active {
		color: #187272;
	}

}

.photogallerypic {
	width: 100%;
	margin: 20px 0;
	border: solid white;
}


/*DARKEN*/
.brighten img {
  -webkit-filter: grayscale(0);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.brighten img:hover {
  -webkit-filter: grayscale(80%);
}


#photo-blanket {
	z-index: 100;
    position: fixed;
    width: 100%;
    opacity: 0;
    height: 100%;
    display: none;
}





/**********CONTACT PAGE**********/


#contactform {
	margin-top: 8vh;
	font-family: 'Open Sans', sans-serif;

	h4 {
	    margin-bottom: 15px;
	    font-size: 20px;
	}

	.contact_text {
		margin-top: 40px;
		line-height: 2em;
		text-align: center;

		.contact_card {
			margin-top: 25px;

			a {
				text-decoration: none;
			}
		}
	}

	.contact_box {
		margin-top: 40px;
	}

	.contact {
		width: 100%;
		margin: 3px 0;
		padding: 5px;
		font-size: 14px;
		resize: none;
	}


	.form-actions {
		text-align: right;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;


		button {
			background-color: $fontcolor;
		    border: none;
		    color: white;
		    padding: 0.25em 20px;
		}	

		.error_msg {
			float: left;
			text-align: left;
			color: red;
			font-size: 14px;
		}	

		.thanks {
			float: left;
			text-align: left;
			color: green;
			font-size: 12px;
			margin-right: 10px;
		}

	}


}





@media (max-width: 785px) {
	#gallery-view-toggle {
		display: none;
	}

	#photo-gallery div {
		width: 100%;
		transition: 2s;
	}

	.header {
		font-size: 38px;
	}

	#currentMedia {
		max-width: 785px;
	}

}

@media (max-width: 520px) {
	.header {
		font-size: 32px;
	}
}

@media (max-width: 420px) {
	.header {
		font-size: 26px;
	}
}



